HOST=servidor_mysql
USUARIO=usuario_mysql
PASSWORD=contrasena_mysql
DATABASE=base_de_datos
PORT_DB=3306
TOKEN_ESTABLECIMIENTO=llave_para_consulta_de_establecimientos
JWT_SECRET=genera_una_cadena_aleatoria_de_al_menos_32_caracteres
